/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Saira&display=swap");
////
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@mixin bakground-image-cover-norepeat($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin keyframes-prefixer($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}
@include keyframes-prefixer(dynamic-theme-color) {
  from {
    //  opacity: 1;
    transform: scale(1);
  }
  to {
    border-radius: 50%;
    transform: scale(1.1);
    transform: rotate(50deg);
    border: none;
    outline-style: none;
    display: none;
  }
}
.container {
  margin: 0px 40px;
  .toolbar {
    background-color: #e13352;
    color: #ffffff;
    a {
      text-decoration: none;
      color: #fff;
    }
    span {
      &:hover {
        cursor: pointer;
      }
    }

    p {
      &:hover {
        cursor: pointer;
      }
      padding: 10px;
    }
  }
}
.container-begel-img-welcome-page {
  margin: auto;
  margin-top: 7%;

  height: 330px;
  width: 330px;

  @include bakground-image-cover-norepeat("./app/img/begel.jpg");
  &:hover {
    animation: dynamic-theme-color 1s 1;
    animation-fill-mode: forwards;
    cursor: pointer;
  }
}
.container-begel-img-landing-page {
  margin: auto;
  margin-top: 1%;
  height: 230px;
  width: 230px;

  @include bakground-image-cover-norepeat("./app/img/begel.jpg");
  &:hover {
    animation: dynamic-theme-color 1s 1;
    animation-fill-mode: forwards;
    cursor: pointer;
  }
}
.fill-remaining-space {
  flex: 1;
}
form.normal {
  margin: 10px;
  /*   display: inline-block;
  position: relative; */
  text-align: center;
}
.controles-container {
  width: 90px;
  padding: 0px;
  button {
    background-color: #2ad424;
  }
}
.grid-members-landing-page {
  .example-form {
    .forum {
      /*    .messages {
        .message {
          height: 70px;
          background-color: green;
        }
      } */
    }
    button {
      background-color: #2ad424;
    }
  }
}

//https://www.nexmo.com/blog/2018/03/28/build-chat-app-angular-material-stitch-javascript-dr
.landing-page-container {
  button {
    height: 30px;
    width: 130px;
    font-family: "Saira", sans-serif;
    cursor: pointer;
  }
  ul {
    text-align: center;
    list-style-type: none;
    li {
      padding: 0px;
      display: inline-block;
      margin: 5px;
    }
  }
  .land-page-item-1 {
  }
  .land-page-item-2 {
  }
  .land-page-item-3 {
    text-align: center;
  }
}
.recipes-display-container {
  height: 400px;
  width: 400px;
  overflow-y: scroll;
  background-color: lightblue;
}
.container-chat {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  height: 500px;
  background-color: lightpink;
  .item-chat {
    overflow-y: scroll;

    height: 500px;
    width: 400px;
    ul {
      li {
        padding-right: 10px;
        display: inline-block;
        .name {
          width: 108px;
        }
        .messages {
          width: 217px;
          max-width: 345px;
          word-break: break-all;
        }
      }
    }
  }
}
ul {
  .messages {
    .message {
      height: 70px;
    }
  }
}
.container-europe-forum {
  display: flex;
  flex-direction: column;
}
.europe-modal-recipe {
  height: 300px;
  width: 90%;
  padding: 2%;
  background-color: lightpink;
}
.recipes-container {
  .recipes-display-container {
    .recipes-container {
      .recipes-title {
        background-color: green;
        height: 30px;
        text-align: center;
      }
      .recipes-items {
        background-color: red;
        height: 150px;
        margin-top: 10px;
        text-align: center;
        span {
          word-break: break-all;
          padding: 10px;
        }
      }
    }
  }
}
