/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@mixin bakground-image-cover-norepeat($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin keyframes-prefixer($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}
@include keyframes-prefixer(dynamic-theme-color) {
  from {
    //  opacity: 1;
    transform: scale(1);
  }
  to {
    border-radius: 50%;
    transform: scale(1.1);
    transform: rotate(20deg);
    // opacity: 0.9;
    border: none;
    outline-style: none;
    display: none;
  }
}
.container {
  margin: 0px 40px;
  .toolbar {
    background-color: #e13352;
    color: #ffffff;
    a {
      text-decoration: none;
      color: #fff;
    }
    span {
      &:hover {
        cursor: pointer;
      }
    }

    p {
      &:hover {
        cursor: pointer;
      }
      padding: 10px;
    }
  }
}
.container-begel-img-welcome-page {
  margin: auto;
  margin-top: 5%;
  height: 350px;
  width: 350px;
  @include bakground-image-cover-norepeat("./app/img/begel.jpg");
  &:hover {
    animation: dynamic-theme-color 1s 1;
    animation-fill-mode: forwards;
    cursor: pointer;
  }
}
.fill-remaining-space {
  flex: 1;
}
form.normal {
  margin: 10px;
  /*   display: inline-block;
  position: relative; */
  text-align: center;
}
.controles-container {
  width: 90px;
  padding: 0px;
}
