<div class="container-chat">
  <div class="item-chat" #scrollFrame>
    <ul>
      <li>
        <div class="name" *ngFor="let nameSouthAmerica of namesSouthAmerica">
          <span class="names">{{ nameSouthAmerica.text }}</span
          ><span>:</span>
        </div>
      </li>
      <li>
        <div
          class="messages"
          *ngFor="let messageSouthAmerica of messagesSouthAmerica"
        >
          <span class="message">{{ messageSouthAmerica.text }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="grid-members-landing-page">
  <form class="example-form">
    <div class="input-form">
      <mat-form-field class="example-full-width">
        <input
          [(ngModel)]="nameSouthAmerica"
          required
          name="nameSouthAmerica"
          matInput
          placeholder="Write your name"
          (keyup)="$event.keyCode == 3 && sendName()"
        />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <textarea
          [(ngModel)]="messageSouthAmerica"
          required
          name="messageSouthAmerica"
          matInput
          placeholder="Leave a comment"
          (keyup)="$event.keyCode == 3 && sendMessage()"
          (keydown.enter)="sendMessage()"
        ></textarea>
      </mat-form-field>
      <br />
      <button mat-button type="button" (click)="sendMessage()">
        send
      </button>
    </div>
  </form>
</div>
