<div class="landing-page-container">
  <div class="land-page-item-1">
    <ul>
      <li><button>Vegan</button></li>
      <li><button>Vegeterian</button></li>
      <li><button>Normal</button></li>
    </ul>
  </div>
  <div class="land-page-item-2">
    <ul>
      <li>
        <a routerLink="/europe"> <button>Europe</button></a>
      </li>
      <li>
        <a routerLink="/africa"> <button>Africa</button></a>
      </li>
    </ul>
    <div class="land-page-item-3">
      <a routerLink="/north-america"> <button>North America</button></a>
    </div>
  </div>
  <div class="container-begel-img-landing-page"></div>
  <div class="land-page-item-3">
    <a routerLink="/south-africa"> <button>South America</button></a>
  </div>
  <div class="land-page-item-4">
    <ul>
      <li>
        <a routerLink="/west-asia"> <button>West Asia</button></a>
      </li>
      <li>
        <a routerLink="/east-asia"> <button>East Asia</button></a>
      </li>
    </ul>
  </div>
</div>

<!-- <div>
  {{ specialEvents }}
  <h1>EUROPE</h1>
  <a routerLink="/forum"
    ><button mat-button type="button">
      forum
    </button>
  </a>
</div>
<br />
<div class="forum-member"></div>
<br />
<mat-grid-list cols="3" rowHeight="400px">
  <mat-grid-tile class="grid-members-landing-page">
    <div>
      <h1>Liste de bouffe</h1>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="grid-members-landing-page">
    <div>
      <h1>Intérressé</h1>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="grid-members-landing-page">
    <div>
      <h1>Fait</h1>
    </div>
  </mat-grid-tile>
</mat-grid-list> -->
