<mat-grid-list cols="2">
  <mat-grid-tile>
    <div class="recipes-container">
      <div class="recipes-display-container">
        <div class="recipes-container">
          <div class="recipes-items" *ngFor="let items of recipesEuropeArray">
            <div class="recipes-title">{{ recipesEuropeTitle }}</div>
            <span>{{ items }}</span>
          </div>
        </div>
      </div>
      <div class="input-recipes">
        <div class="input-form">
          <br />
          <!--      <mat-form-field>
            <textarea
              [(ngModel)]="RecipeSteps.steps"
              required
              name="steps"
              matInput
              placeholder="Leave a comment"
            ></textarea>
          </mat-form-field>
          <br />
          <button (click)="sendRecipe()">
            send
          </button> -->
          <button mat-button type="button" (click)="openDialog()">
            Create
          </button>
        </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="container-europe-forum">
      <div class="container-chat">
        <div class="item-chat" #scrollFrame>
          <ul>
            <li>
              <div class="name" *ngFor="let nameEurope of namesEurope">
                <span class="names">{{ nameEurope.text }}</span
                ><span>:</span>
              </div>
            </li>
            <li>
              <div
                class="messages"
                *ngFor="let messageEurope of messagesEurope"
              >
                <span class="message">{{ messageEurope.text }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="grid-members-landing-page">
        <form class="example-form">
          <div class="input-form">
            <mat-form-field class="example-full-width">
              <input
                [(ngModel)]="nameEurope"
                required
                name="nameEurope"
                matInput
                placeholder="Write your name"
                (keyup)="$event.keyCode == 3 && sendName()"
              />
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <textarea
                [(ngModel)]="messageEurope"
                required
                name="messageEurope"
                matInput
                placeholder="Leave a comment"
                (keyup)="$event.keyCode == 3 && sendMessage()"
                (keydown.enter)="sendMessage()"
              ></textarea>
            </mat-form-field>
            <button mat-button type="button" (click)="sendMessage()">
              send
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
