<form class="normal-form">
  <mat-grid-list cols="0" rowHeight="400px">
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="loginUserData.name"
            name="name"
            placeholder="name"
          />
        </mat-form-field>
        <br />
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="loginUserData.email"
            name="email"
            placeholder="email"
          />
        </mat-form-field>
        <br />
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="loginUserData.password"
            name="password"
            placeholder="password"
          />
        </mat-form-field>
        <button mat-button (click)="loginUser()" type="button">
          Click me!
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
